body {
background-color: #0a0a0aff;
}

h1 {
text-align: center;
color: #eee3c1ff;
top: 0vw;
position: relative;
font-size: 2vw;
}

p {
text-align: left;
color: #eee3c1ff;
top: 0vw;
position: relative;
font-size: 16.18vw;
}

marquee {
color: #d1342fff;
background-color: #0a0a0aff;
font-size: 1vw;
padding: 0vw;
}

img {
width: 2vw;
height: 2vw;
position: relative;
top: 9vw;
left: 2.5vw;
border: solid 0.05vw #eee3c1ff;
}

#marquee_top_bottom {
color: #d1342fff;
background-color: #0a0a0aff;
font-size: 1.5vw;
padding: 0vw;
}

#discserver {
position: absolute;
top: 10vw;
left: 3vw;
text-align: left;
font-size: 1vw;
}

#icontext {
position: absolute;
top: 17.2vw;
left: 6vw;
font-size: 1vw;
line-height: 3.3vw;
}

#appname {
position: absolute;
top: 17.2vw;
left: 13vw;
font-size: 1vw;
line-height: 3.3vw;
}

#icons {
position: absolute;
}

#clicker_game {
width: 45vw;
height: 32vw;
border: 0.1vw solid #505050ff;
position: fixed;
left: 50vw;
top: 15vw;
}

#buybuttons {
width: 10vw;
height: 1.5vw;
position: relative;
top: 3vw;
left: 1vw;
font-size: 1vw;
}

#Shacks {
position: absolute;
top: 29.5vw;
left: 0.5vw;
font-size: 1vw;
}

#ShackOutput {
position: absolute;
top: 490;
right: 1vw;
font-size: 1vw;
}

#ShackCost {
position: fixed;
top: 8.5vw;
left: 62vw;
color: #eee3c1ff;
font-size: 1vw;
}

#UpgradeCost {
position: fixed;
top: 28.7vw;
left: 62vw;
font-size: 1vw;
}

#GameText {
position: absolute;
top: 20vw;
left: 4.5vw;
font-size: 1vw;
}

button {
background-color: #505050ff;
cursor: pointer;
text-align: center;
}

/* Hyperlink editing */
a:link {
  color: #d1342f;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #d9635f;
  background-color: transparent;
  text-decoration: underline;
}
/* Hyperlink editing (end) */

.tooltip {
position: relative;
display: inline-block;
border-bottom: 0.1vw dotted #ff4747;
}
  
/* Tooltip for "Cost Per*:" text */
.tooltip .tooltiptext {
visibility: hidden;
width: 9vw;
background-color: black;
color: #fff;
text-align: center;
border-radius: 0.5vw;
padding: 0.1vw 0vw;
opacity: 75%;
/* Position the tooltip */
position: absolute;
z-index: 1;
top: 0.9vw;
}
  
.tooltip:hover .tooltiptext {
visibility: visible;
}
